# Neural Networks - Checkpoint 01/02

Matias Cornelsen Herklotz - RM94199

César Noreña Pachón - RM95093

Eduardo Matos da Silva - RM92877

Icaro Figaro Araújo - RM93571

In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor

In [2]:
df = pd.read_csv('https://tinyurl.com/alugueis-sp-df')
df

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13635,265000,420,51,2,1,0,1,0,0,0,0,Jabaquara/São Paulo,sale,apartment,-23.653004,-46.635463
13636,545000,630,74,3,2,1,2,0,0,1,0,Jabaquara/São Paulo,sale,apartment,-23.648930,-46.641982
13637,515000,1100,114,3,3,1,1,0,0,1,0,Jabaquara/São Paulo,sale,apartment,-23.649693,-46.649783
13638,345000,48,39,1,2,1,1,0,1,1,0,Jabaquara/São Paulo,sale,apartment,-23.652060,-46.637046
13639,161987,0,44,2,1,0,1,0,0,0,0,Jardim Ângela/São Paulo,sale,apartment,-23.613391,-46.523109

In [3]:
df["Negotiation Type"].unique()

array(['rent', 'sale'], dtype=object)

In [6]:
# Filtramos o data frame para tirar alugueis
sales_df = df.copy()[df["Negotiation Type"] == "sale"]

In [7]:
# Dividimos o District por região e cidade
region_df = df['District'].str.split('/', expand=True)
region_df

                   0          1
0        Artur Alvim  São Paulo
1        Artur Alvim  São Paulo
2        Artur Alvim  São Paulo
3        Artur Alvim  São Paulo
4        Artur Alvim  São Paulo
...              ...        ...
13635      Jabaquara  São Paulo
13636      Jabaquara  São Paulo
13637      Jabaquara  São Paulo
13638      Jabaquara  São Paulo
13639  Jardim Ângela  São Paulo

[13640 rows x 2 columns]

In [8]:
sales_df["Property Type"].unique()

array(['apartment'], dtype=object)

In [9]:
# Tiramos do data frame 'Negotiation Type' e 'Property Type'
sales_df.drop(columns=["Negotiation Type", "Property Type"], inplace=True)

In [10]:
sales_df.drop(columns=["District"], inplace=True)

In [13]:
clean_df = pd.concat([sales_df, region_df], axis=1, join="inner")
clean_df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,Latitude,Longitude,0,1
4901,732600,1000,74,1,2,1,2,1,0,1,0,-23.552129,-46.692244,Vila Madalena,São Paulo
4902,1990000,2400,164,4,5,2,3,1,1,1,0,-23.551613,-46.699106,Vila Madalena,São Paulo
4903,720000,700,70,2,2,1,1,1,0,1,1,-23.547687,-46.692594,Vila Madalena,São Paulo
4904,1680000,1580,155,3,5,3,2,1,0,1,0,-23.552590,-46.691104,Vila Madalena,São Paulo
4905,1200000,900,56,2,2,1,2,0,1,1,0,-23.553087,-46.697890,Vila Madalena,São Paulo

In [15]:
clean_df.rename(columns={0: 'District', 1: 'City'}, inplace=True)
clean_df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,Latitude,Longitude,District,City
4901,732600,1000,74,1,2,1,2,1,0,1,0,-23.552129,-46.692244,Vila Madalena,São Paulo
4902,1990000,2400,164,4,5,2,3,1,1,1,0,-23.551613,-46.699106,Vila Madalena,São Paulo
4903,720000,700,70,2,2,1,1,1,0,1,1,-23.547687,-46.692594,Vila Madalena,São Paulo
4904,1680000,1580,155,3,5,3,2,1,0,1,0,-23.552590,-46.691104,Vila Madalena,São Paulo
4905,1200000,900,56,2,2,1,2,0,1,1,0,-23.553087,-46.697890,Vila Madalena,São Paulo

In [16]:
clean_df["City"].unique()

array(['São Paulo'], dtype=object)

In [17]:
clean_df.drop(columns=["City"], inplace=True)

In [18]:
clean_df.drop(columns=["Latitude", "Longitude"], inplace=True)

In [19]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6412 entries, 4901 to 13639
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Price          6412 non-null   int64
 1   Condo          6412 non-null   int64
 2   Size           6412 non-null   int64
 3   Rooms          6412 non-null   int64
 4   Toilets        6412 non-null   int64
 5   Suites         6412 non-null   int64
 6   Parking        6412 non-null   int64
 7   Elevator       6412 non-null   int64
 8   Furnished      6412 non-null   int64
 9   Swimming Pool  6412 non-null   int64
 10  New            6412 non-null   int64
 11  District       6412 non-null   object
dtypes: int64(11), object(1)
memory usage: 651.2+ KB

In [20]:
clean_df["District"].unique()

array(['Vila Madalena', 'Mooca', 'Brooklin', 'Vila Olimpia',
       'Barra Funda', 'Bela Vista', 'Bom Retiro', 'Brás', 'Consolação',
       'Liberdade', 'Pari', 'República', 'Santa Cecília', 'Sé',
       'Casa Verde', 'Jaçanã', 'Mandaqui', 'Santana', 'Tremembé',
       'Tucuruvi', 'Vila Guilherme', 'Vila Maria', 'Medeiros',
       'Água Rasa', 'Aricanduva', 'Artur Alvim', 'Belém', 'Cangaíba',
       'Carrão', 'Cidade Líder', 'Cidade Tiradentes',
       'Ermelino Matarazzo', 'Guaianazes', 'Iguatemi', 'Itaim Paulista',
       'Itaquera', 'Jardim Helena', 'José Bonifácio', 'Lajeado',
       'Parque do Carmo', 'Penha', 'Ponte Rasa', 'Sapopemba', 'São Lucas',
       'São Mateus', 'São Miguel', 'São Rafael', 'Tatuapé', 'Vila Curuçá',
       'Vila Formosa', 'Vila Jacuí', 'Vila Matilde', 'Vila Prudente',
       'Cambuci', 'Campo Belo', 'Campo Grande', 'Campo Limpo',
       'Capão Redondo', 'Cidade Ademar', 'Cidade Dutra', 'Cursino',
       'Grajaú', 'Ipiranga', 'Itaim Bibi', 'Jabaquara', 'Jardim Ângela',
       'Jardim Paulista', 'Jardim São Luis', 'Moema', 'Morumbi',
       'Pedreira', 'Sacomã', 'Santo Amaro', 'Saúde', 'Socorro',
       'Vila Andrade', 'Vila Mariana', 'Vila Sônia', 'Alto de Pinheiros',
       'Anhanguera', 'Brasilândia', 'Butantã', 'Cachoeirinha',
       'Freguesia do Ó', 'Jaguaré', 'Jaraguá', 'Lapa', 'Limão',
       'Perdizes', 'Perus', 'Pinheiros', 'Pirituba', 'Raposo Tavares',
       'Rio Pequeno', 'São Domingos', 'Vila Leopoldina'], dtype=object)

In [22]:
district_dummies = pd.get_dummies(clean_df["District"])
district_dummies.head()

,Alto de Pinheiros,Anhanguera,Aricanduva,Artur Alvim,Barra Funda,Bela Vista,Belém,Bom Retiro,Brasilândia,Brooklin,...,Vila Jacuí,Vila Leopoldina,Vila Madalena,Vila Maria,Vila Mariana,Vila Matilde,Vila Olimpia,Vila Prudente,Vila Sônia,Água Rasa
4901,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4902,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4903,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4904,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4905,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [23]:
districtless_df = clean_df.drop(columns=["District"])
districtless_df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New
4901,732600,1000,74,1,2,1,2,1,0,1,0
4902,1990000,2400,164,4,5,2,3,1,1,1,0
4903,720000,700,70,2,2,1,1,1,0,1,1
4904,1680000,1580,155,3,5,3,2,1,0,1,0
4905,1200000,900,56,2,2,1,2,0,1,1,0

In [24]:
complete_df = pd.concat([districtless_df, district_dummies], axis=1)
complete_df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,...,Vila Jacuí,Vila Leopoldina,Vila Madalena,Vila Maria,Vila Mariana,Vila Matilde,Vila Olimpia,Vila Prudente,Vila Sônia,Água Rasa
4901,732600,1000,74,1,2,1,2,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4902,1990000,2400,164,4,5,2,3,1,1,1,...,0,0,1,0,0,0,0,0,0,0
4903,720000,700,70,2,2,1,1,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4904,1680000,1580,155,3,5,3,2,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4905,1200000,900,56,2,2,1,2,0,1,1,...,0,0,1,0,0,0,0,0,0,0

In [25]:
x = complete_df.drop(columns=["Price", "Condo"])
y = complete_df["Price"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=22)

In [26]:
print("x_train: ", len(x_train))
print("x_test: ", len(x_test))

x_train:  5129
x_test:  1283

In [27]:
minmax = MinMaxScaler()

x_train_minmax = minmax.fit_transform(x_train)
x_test_minmax = minmax.transform(x_test)

In [28]:
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [29]:
def metrics_printer(y_test, y_pred):
    r2 = metrics.r2_score(y_test, y_pred)
    print("R2: ", round(r2, 4))

In [30]:
def build_knn(x_train, x_test, y_train, y_test, k=0):
    if k == 0:
        k = int((len(y_train) + len(y_test)) ** 0.5)

    knn = KNeighborsRegressor(n_neighbors=k)

    knn.fit(x_train, y_train)

    y_pred = knn.predict(x_test)

    print("k:", k)
    metrics_printer(y_test, y_pred)

    return knn

In [402]:
for i in range(0, 20, 1):
    build_knn(x_train_scaled, x_test_scaled, y_train, y_test, k=i)
    print()

k: 80
R2:  0.5404

k: 1
R2:  0.784

k: 2
R2:  0.8192

k: 3
R2:  0.8159

k: 4
R2:  0.826

k: 5
R2:  0.8254

k: 6
R2:  0.8127

k: 7
R2:  0.8023

k: 8
R2:  0.7989

k: 9
R2:  0.795

k: 10
R2:  0.7854

k: 11
R2:  0.7809

k: 12
R2:  0.7713

k: 13
R2:  0.7639

k: 14
R2:  0.7534

k: 15
R2:  0.7411

k: 16
R2:  0.726

k: 17
R2:  0.7241

k: 18
R2:  0.7197

k: 19
R2:  0.7126

In [31]:
def build_forest(x_train, x_test, y_train, y_test, trees):
    floresta = RandomForestRegressor(n_estimators=trees, random_state=22)
    floresta.fit(x_train, y_train)

    y_pred = floresta.predict(x_test)

    print(f"Trees: {trees}")
    metrics_printer(y_test, y_pred)

    return floresta

In [404]:
for i in range(1, 30, 2):
    build_forest(x_train_scaled, x_test_scaled, y_train, y_test, trees=i)
    print()

Trees: 1
R2:  0.7797

Trees: 3
R2:  0.8511

Trees: 5
R2:  0.8762

Trees: 7
R2:  0.8854

Trees: 9
R2:  0.8896

Trees: 11
R2:  0.8897

Trees: 13
R2:  0.8886

Trees: 15
R2:  0.8914

Trees: 17
R2:  0.8916

Trees: 19
R2:  0.8932

Trees: 21
R2:  0.8941

Trees: 23
R2:  0.8941

Trees: 25
R2:  0.8961

Trees: 27
R2:  0.8937

Trees: 29
R2:  0.893

In [32]:
def build_mlp(x_train, x_test, y_train, y_test, layers, iterations=200, solver="lbfgs"):
    mlp = MLPRegressor(hidden_layer_sizes=layers, max_iter=iterations, solver=solver, random_state=2)
    mlp.fit(x_train, y_train)

    y_pred = mlp.predict(x_test)

    print(f"Hidden layers: {layers}, Iterations: {iterations}")
    metrics_printer(y_test, y_pred)

    return mlp

In [36]:
build_mlp(x_train_scaled, x_test_scaled, y_train, y_test, (4,), 1500)
print()
build_mlp(x_train_scaled, x_test_scaled, y_train, y_test, (4, 2), 1500)
print()

Hidden layers: (4,), Iterations: 1500
R2:  0.872

Hidden layers: (4, 2), Iterations: 1500
R2:  0.8686

In [37]:
def build_xgboost(x_train, x_test, y_train, y_test, estimators, depth):
    xgb = XGBRegressor(n_estimators=estimators,
                       max_depth=depth,
                       booster='gbtree',
                       learning_rate=0.01,
                       verbosity=0,
                       silent=True)
    xgb.fit(x_train, y_train, eval_set=[(x_train, y_train)])

    y_pred = xgb.predict(x_test)

    metrics_printer(y_test, y_pred)

    return model

In [ ]:
build_xgboost(x_train_scaled, x_test_scaled, y_train, y_test, 300, 200)
# R2:  0.8673

In [ ]:
build_xgboost(x_train_scaled, x_test_scaled, y_train, y_test, 500, 300)
# R2:  0.8708

In [ ]:
build_xgboost(x_train, x_test, y_train, y_test, 500, 300)
# R2:  0.8708

## Melhor modelo foi a Floresta

In [38]:
model = build_forest(x_train_scaled, x_test_scaled, y_train, y_test, 25)

Trees: 25
R2:  0.8961

In [39]:
empty_df = pd.DataFrame([[0] * complete_df.columns.size], columns=complete_df.columns)
empty_df.to_csv("empty_df")

In [40]:
# Dados reais
website_df = pd.read_csv("website_aparmets_data_set.csv")
website_df

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,...,Vila Jacuí,Vila Leopoldina,Vila Madalena,Vila Maria,Vila Mariana,Vila Matilde,Vila Olimpia,Vila Prudente,Vila Sônia,Água Rasa
0,329000,500.000,48,2,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,890000,1.251,114,1,2,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1780000,2.000,200,3,4,4,3,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,279900,0.000,50,2,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,610900,0.000,64,2,2,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,580000,540.000,36,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
6,420000,355.000,73,1,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,180000,350.000,34,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
x2 = website_df.drop(["Price", "Condo"], axis=1)
y2 = website_df["Price"]

y2

0     329000
1     890000
2    1780000
3     279900
4     610900
5     580000
6     420000
7     180000
Name: Price, dtype: int64

In [43]:
x2_scaled = scaler.transform(x2)

In [44]:
predicted = model.predict(x2_scaled)

In [45]:
metrics_printer(y2, predicted)
# R2:  0.8465

R2:  0.8465