In [1]:
import pandas
from pandasql import sqldf

sql = lambda q: sqldf(q, globals())

In [2]:
dataframe = pandas.read_csv("datasets/president_candidate.csv")
dataframe.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [49]:
sql("""select state, sum(total_votes) as total_votes
        from dataframe
        where party='DEM'
        group by state
        order by total_votes
        desc limit 10;""")

            state  total_votes
0      California     11109764
1         Florida      5297045
2           Texas      5259126
3        New York      5244006
4        Illinois      4253153
5    Pennsylvania      3459923
6        Michigan      2804040
7  North Carolina      2684292
8            Ohio      2679165
9      New Jersey      2608335

In [83]:
(dataframe[["state", "total_votes"]]
 .where(dataframe["party"] == "DEM")
 .groupby("state")
 .sum()
 .sort_values(by="total_votes", ascending=False)
 .head(10))

                total_votes
state
California       11109764.0
Florida           5297045.0
Texas             5259126.0
New York          5244006.0
Illinois          4253153.0
Pennsylvania      3459923.0
Michigan          2804040.0
North Carolina    2684292.0
Ohio              2679165.0
New Jersey        2608335.0

In [88]:
(dataframe.query("party == 'DEM'")
 .groupby("state")["total_votes"]
 .sum()
 .sort_values(ascending=False)
 .head(10)
 .reset_index())

            state  total_votes
0      California     11109764
1         Florida      5297045
2           Texas      5259126
3        New York      5244006
4        Illinois      4253153
5    Pennsylvania      3459923
6        Michigan      2804040
7  North Carolina      2684292
8            Ohio      2679165
9      New Jersey      2608335

In [61]:
grouped_state = (dataframe[["state", "total_votes"]]
                 .where(dataframe["party"] == "DEM")
                 .groupby("state")
                 .sum())

grouped_state.sort_values(by="total_votes", ascending=False).head(10)

                total_votes
state
California       11109764.0
Florida           5297045.0
Texas             5259126.0
New York          5244006.0
Illinois          4253153.0
Pennsylvania      3459923.0
Michigan          2804040.0
North Carolina    2684292.0
Ohio              2679165.0
New Jersey        2608335.0

In [62]:
grouped_state.sort_values(by="total_votes").head(10)

               total_votes
state
Wyoming            73491.0
North Dakota      114902.0
South Dakota      150471.0
Alaska            153405.0
West Virginia     235984.0
Vermont           242820.0
Montana           244786.0
Idaho             287021.0
Delaware          296268.0
Rhode Island      306210.0