In [1]:
import pandas as pd

table = pd.read_excel('escolha_faculdade.xlsx')

table

,ID,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil
0,1,1,1,1,3,50,78,1
1,2,1,0,2,1,60,91,0
2,3,1,1,1,1,55,13,1
3,4,0,1,3,0,78,68,1
4,5,0,1,2,2,74,72,0
5,6,1,0,2,2,73,47,0
6,7,1,1,1,3,56,68,1
7,8,0,1,3,0,30,13,1
8,9,1,0,3,3,89,89,0
9,10,0,1,1,1,30,25,1