FIAP - Redes Neurais Artificiais, Deep Learning e Algoritmos Genéticos 

# Aula 03 - Trabalhando com Perceptron

## Implementação de um Perceptron simples

In [55]:
import pandas as pd

In [56]:
# Definir a função de agregação de informação (soma poderada)
def calculate_sum(X, W):
    result = 0
    for i in range(len(X)):
        result += X[i] * W[i]
    return result

In [57]:
# Definir a função de ativação: FUNÇÃO DEGRAU
def degree_activation(u, b=0):
    return 1 if u + b >= 0 else 0

In [58]:
X = [1, 2, 3]  # inputs
W = [0.1, 0.2, 0.3]  # weights
b = 0  # bias

In [59]:
u = calculate_sum(X, W)
answers = degree_activation(u, b)

print("Para os parametros de entrada (X e W), o neurônio{0} foi ativado, pois o f({1:.2f})={2}".
      format("" if answers == 1 else " não", u, answers))

Para os parametros de entrada (X e W), o neurônio foi ativado, pois o f(1.40)=1

## Casos de aplicação do perceptron

Vamos analisar a base `escolha_faculdade.xlsx` com exemplos de faculdades identificadas pelo ID e com um conjunto de variáveis que as descrevem. As variáveis são:

- reconhecida_MEC: a faculdade é reconhecida pelo MEC? 1=sim ; 0=não
- facilidade_pagamento: a faculdade apresenta facilidades para pagamento? 1=sim ; 0=não
- flexibilidade_ensino: o quão flexível é o método de ensino? 1=somente presencial ; 2=somente EAD ; 3=misto
- entrada_mercado: o que a faculdade oferece para facilitar a entrada do aluno no mercado de trabalho? 0=sem suporte ; 1=feiras ; 2=feiras e estágios ; 3=feiras, estágios e convênios com empresas
- score_infraestrutura: qual nota de 0 a 100 a escola possui para sua infraestrutura?
- empregabilidade: qual a porcentagem de alunos egressos empregados?
- acesso_facil: a localização possui fácil acesso, como metrô, ônibus, estacionamento? 1=sim ; 0=não

In [79]:
# Pesos já fornecidos
weights = [0.10, 0.05, 0.05, 0.2, 0.25, 0.3, 0.05]

In [82]:
data_frame = pd.read_excel("escolha_faculdade.xlsx", index_col="ID")
data_frame.head()

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil
ID,,,,,,,
1,1,1,1,3,50,78,1
2,1,0,2,1,60,91,0
3,1,1,1,1,55,13,1
4,0,1,3,0,78,68,1
5,0,1,2,2,74,72,0

In [85]:
schools = data_frame.T
schools

ID                    1   2   3   4   5   6   7   8   9   10
reconhecida_MEC        1   1   1   0   0   1   1   0   1   0
facilidade_pagamento   1   0   1   1   1   0   1   1   0   1
flexibilidade_ensino   1   2   1   3   2   2   1   3   3   1
entrada_mercado        3   1   1   0   2   2   3   0   3   1
score_infraestrutura  50  60  55  78  74  73  56  30  89  30
empregabilidade       78  91  13  68  72  47  68  13  89  25
acesso_facil           1   0   1   1   0   0   1   1   0   1

In [65]:
def custom_activation(u, b=0):
    return True if u + b >= 35 else False

def regression_activation(u, b=0):
    return u ** 2 + b

In [92]:
def get_result(inputs, weights, actiovation_function):
    result = []
    for i in range(1, len(inputs[1])):
        u = calculate_sum(inputs[i], weights)
        result.append(actiovation_function(u))
    return result

get_result(schools, weights, custom_activation)
get_result(schools, weights, regression_activation)

In [73]:
data_frame["Classification"] = get_result(schools, weights)
data_frame

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil,Classification
ID,,,,,,,,
1,1,1,1,3,50,78,1,True
2,1,0,2,1,60,91,0,True
3,1,1,1,1,55,13,1,False
4,0,1,3,0,78,68,1,True
5,0,1,2,2,74,72,0,True
6,1,0,2,2,73,47,0,False
7,1,1,1,3,56,68,1,True
8,0,1,3,0,30,13,1,False
9,1,0,3,3,89,89,0,True
10,0,1,1,1,30,25,1,False